<h4 class="font-weight-bold">
  Staffs
  <button type="button" class="pull-right btn btn-primary" (click)="openModal(newStaff, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Add Staff</button>
</h4>
<div class="overlay" *ngIf="loading">
    <mat-progress-spinner class="spinner" [mode]="'indeterminate'" [color]="'#a7ef8a'" ></mat-progress-spinner>
</div>
<div class="container-fluid mt-5">
    <div class="row mr-3 ml-3 border border-2 mb-1 p-2" *ngFor="let staff of staffs">
        <div class="col col-3">
          <div class="images-container text-center">
            <h5>{{staff.username}}</h5>
            <i class="fa fa-user " style="font-size: 10em;" *ngIf="iconLoaded"></i>
          </div>
        </div>
        <div class="col col-3">
      
        </div>
        <div class="col col-6">
          <div class="row">
            <div class="col col-6">
              <h5>First name: {{staff.firstName}}</h5>
            </div>
            <div class="col col-6">
              <h5>Last name: {{staff.lastName}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-6">
              <h5>Department: {{staff.department}}</h5>
            </div>
            <div class="col col-6">
              <h5>Total sales: <span>&#8358;</span>{{formatPrice(staff.totalSale)}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col col-6">
              <h5>Phone: {{staff.phone}}</h5>
            </div>
            <div class="col col-6">
              <h5>Email: {{staff.email}}</h5>
            </div>
          </div>
          <div class="row">
            <button class=" btn btn-primary col-5" disabled>
              Edit
            </button>
            <button class=" btn btn-danger col-5 offset-1" (click)="openModal(deleteStaf, {windowClass: 'modal-lg animate'}, staff)">
              Delete
            </button>
          </div>
        </div>
      </div>
</div>


<!-- Modals below -->

<!-- Confirm delete staff -->

<ng-template #deleteStaf let-c = "close" let-d = "dismiss">
  <div class="row">
    <div class="col-12 text-center p-5 text-big text-capitalize">
      Please contact the admin
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" (click)="closeModal()" class="btn btn-danger">OK</button>
    </div>
  </div>
</ng-template>

<!-- Add staff modals -->
<ng-template #newStaff let-c="close" let-d="dismiss">
  <p class="error-message" *ngIf="emailAlreadyInUse">Email already in Use</p>
  <form [formGroup] = "staffForm" (ngSubmit) = "addStaff()">
      <div class="card">
          <div class="card-header">
            New staff
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <input type="text" placeholder="First name" class="form-control" formControlName="firstName">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">
          </div>
          <div class="form-group">
              <ng-select [items]="departments" bindLabel = "name" [(ngModel)]="selectedDepartment" [ngModelOptions]="{standalone: true}"
              placeholder="Select access">
        
              </ng-select>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Username" formControlName="username" class="form-control">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" formControlName="email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Assign password" class="form-control" formControlName="password">
          </div>
          <div class="form-group">
              <input type="number" placeholder="Phone number" class="form-control" formControlName="phone">
            </div>
        </div>
        <div class="card-footer">
          <button class="btn green pull-right" type="submit" [disabled]="staffForm.invalid">
            Add staff
          </button>
        </div>
      </form>
 
</ng-template>
