<h4 class="font-weight-bold">
  Order
  <button type="button" class="pull-right btn btn-primary mr-2" (click)="open(addItemModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Add Item</button>
  <!-- <button type="button" class="pull-right btn btn-primary" (click)="open(placeOrderModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Place order</button> -->
</h4>

<div class="overlay" *ngIf="orderIsProcesssed">
<mat-progress-spinner class="spinner" [mode]="'indeterminate'" [color]="'#a7ef8a'" ></mat-progress-spinner>
</div>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-8">
      <mat-form-field>
          <mat-label>Select orders</mat-label>
          <mat-select multiple [formControl] = "selectedItems">
            <mat-option *ngFor="let item of savedItems" [value]="item" >
              {{item.itemName}} / <span>&#8358;</span>{{formatPrice(item.itemPrice)}}
            </mat-option>
          </mat-select>
       </mat-form-field>
      <!-- <div>
          <mat-radio-group [(ngModel)]="orderIsByGuest" style="width: 100%;">
              <mat-radio-button [value]='true'>In house guest</mat-radio-button>
              <mat-radio-button [value]='false' [checked] = "true">Others</mat-radio-button>
          </mat-radio-group>
      </div>  -->

      <div>
          <mat-form-field>
              <mat-label>Choose guest</mat-label>
              <mat-select [formControl]="selectedGuest">
                <mat-option *ngFor="let guest of guests" [value]="guest">
                  {{guest.name}} in Room {{guest.roomNo}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div>
            <mat-checkbox [(ngModel)]="isBillPlaced" [ngModelOptions] = "{standalone: 'true'}" [checked]="true">
              Place on bill
          </mat-checkbox>
          </div>
      </div>
      <!-- <div class="form-group" *ngIf="!orderIsByGuest">
        <input type="text" class="form-control" placeholder="Name on docket" [(ngModel)]="guestName">
      </div> -->

      <div class="row">
        <button class="col-12 btn btn-dark" (click)="addToOrderView()" [disabled]="!(selectedGuest.value && selectedItems.value.length > 0)">
          Place order
        </button>
      </div>
    </div>

    <div class="col-lg-4 border border-1 table-responsive">
      <div class="container p-3 text-center">
      Order by {{orderIsByGuest && selectedGuest.value? selectedGuest.value.name +" in room "+selectedGuest.value.roomNo : ""}}
    </div>
      <table class="table-borderless table">
        <thead>
          <tr>
            <th>Item</th><th>Price</th><th>Qty.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ordered of orderedItems; let i = index">
            <td>{{ordered.itemName}}</td><td><span>&#8358;</span>{{formatPrice(ordered.itemPrice)}}</td><td>{{ordered.itemQuantity}}</td><td><i class="fa fa-plus" (click)="increaseTotal(ordered)"></i><i class="fa fa-minus d-block" (click)="decreaseTotal(ordered)"></i></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        Total: <span>&#8358;</span>{{formatPrice(totalValue)}}
      </div>
      <div class="row">
          <button class="btn col-12 align-self-center btn-dark" [disabled]="orderedItems.length  < 1" (click) = "printOrder()">Check out/Pay</button>
      </div>
    </div>
  </div>

    <div class="table-responsive mt-4">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th>Item</th><th>Price</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of savedItems">
            <td>{{item.itemName}}</td><td><span>&#8358;</span>{{formatPrice(item.itemPrice)}}</td><td><i class="fa fa-trash" (click)="deleteSavedItem(item)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<!-- Modals Below -->

<ng-template #addItemModal let-d = "dismiss" let-c="close">
  <form [formGroup] = "orderForm" (ngSubmit) = "saveItem()">
  <div class="card">
    <div class="card-header">
      New Item
    </div>
    <div class="card-body">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Item" formControlName="itemName">
      </div>
      <div class="form-group">
        <input type="number" class = "form-control" placeholder="Price" formControlName="itemPrice">
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-danger"(click)="dismissModal()">Cancel</button>
    </div>
  </div>
</form>
</ng-template>

<!-- Place order modal -->

<ng-template #placeOrderModal let-d ="dismiss" let-c ="close">
  <form [formGroup] = "placeOrderForm" (ngSubmit) = "placeOrder()">
    <div class="card">
      <div class="card-header">
        Place order
        <button class="btn btn-primary" (click)="addItem()">Add item</button>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Customer name" formControlName="customerName">
        </div>
        <div formArrayName="items" *ngFor="let item of placeOrderForm.get('items').controls; let i = index;"> 
            <div class="row" [formGroupName] = "i">
                <div class="col-6">
                  <input type="text" class="form-control" placeholder="Item" formControlName="itemName">
                </div>
                <div class="col-6">
                  <input type="number" class="form-control" placeholder="Price" formControlName="itemPrice">
                </div>
            </div>
        </div>
        
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" (click)="placeOrder()">
          Place order
        </button>
      </div>
    </div>
  </form>
</ng-template>