<div class="container-fluid">
  <h2 class="font-weight-bold"><i class="fa fa-bed fa-2x"></i>
    Rooms
    <button type="button" class="pull-right btn btn-primary mr-2" (click)="open(newRoomModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; New room</button>
    <!-- <button type="button" class="pull-right btn btn-primary mr-2" (click)="open(bookModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Book</button> -->
  </h2>

  <div class="row mb-4">
    <h3 class="col-12 text-dark font-size-2">Check ins</h3>
    <div class="col-3 card border-0 p-0 mr-3 mb-3 shadow rounded" *ngFor="let guest of checkedInRooms" >
        <div class="card-header text-dark p-0 border-0 checkin">
          <span class="ml-1">Room {{guest.roomNo}}</span><span class="mr-1 pull-right text-danger">{{isCheckoutDue(guest) ? "Check out due": " "}}</span>
        </div>
        <div class="card-body text-center text-dark checkin">
          <i class="fa fa-user-circle fa-2x"></i><span class="name">{{guest.name}}</span>
        </div>
        <div class="footer p-1 d-inline-flex">
          <i class="fa fa-2x fa-calendar"></i><p class="ml-2">{{formatD(guest.checkInTime) + '--' + formatD(guest.checkOutTime)}}</p><i class="ml-2 fa-2x fa fa-check-circle"></i>
        </div>
      </div>
  </div>
  <div class="row mb-4">
    <h3 class="col-12 text-dark font-size-2">Booked rooms</h3>
        <div class="col-3 card border-0 p-0 mr-3 mb-3 shadow rounded" *ngFor="let guest of bookedRooms" >
            <div class="card-header p-0 border-0 booked">
              <span class="ml-1">Room {{guest.roomNo}}</span>
            </div>
            <div class="card-body text-center text-dark booked">
              <i class="fa fa-user-circle fa-2x"></i><span class="name">{{guest.name}}</span>
            </div>
            <div class="footer p-1 text-dark d-inline-flex">
              <i class="fa fa-2x fa-calendar"></i><p class="ml-2">{{formatD(guest.checkInTime) + '-' + formatD(guest.checkOutTime)}}</p><i class="ml-2 fa-2x fa fa-check-circle"></i>
            </div>
          </div>
  </div>

  <div class="row mb-4">
    <h3 class="col-12 text-dark font-size-2">Empty rooms</h3>
        <div class="col-3 card border-0 p-0 mr-3 mb-3 shadow rounded bg-light" *ngFor="let room of emptyRooms" >
            <div class="card-header text-dark p-0 border-0 empty">
              <span class="ml-1">Room {{room.data().roomNo}}</span>
            </div>
            <div class="card-body text-center text-dark empty">
              <i class="fa fa-user-circle fa-2x"></i><span class="name">Available</span>
            </div>
            <div class="footer p-1 text-dark d-inline-flex">
            </div>
          </div>
  </div>
<!-- 
  <div class="row border-0 mb-5">
    <div class="col-3 card border-0 p-0 mr-3" *ngFor="let room of roomsInfo" >
      <div class="card-header text-dark p-0 border-0">
        <span class="ml-1">Room {{room.roomNo}}</span><span class="pull-right mr-1">{{room.status == "available"? 'Free': 'Not Free'}}</span>
      </div>
      <div class="card-body text-center text-dark">
        <i class="fa fa-user-circle fa-3x"></i><span class="name">{{room.guestName? room.guestName: 'Empty room'}}</span>
      </div>
      <div class="footer p-1 text-dark d-inline-flex">
        <i class="fa fa-2x fa-calendar"></i><h3 class="ml-2">{{room.checkInTime + '--' + room.checkOutTime}}</h3><i class="ml-2 fa-2x fa fa-check-circle"></i>
      </div>
    </div>
  </div> -->
<ng-template #newRoomModal let-c = "close" let-d="dismiss">
    <div class="card">
      <div class="card-header">
        New room
      </div>
      <div class="card-body">
      <form [formGroup] = "room" (ngSubmit)="saveRoom()">
        <div class="form-group">  
          <input type="number" class="form-control" placeholder="Room no" formControlName="roomNo">
        </div>
        <div class= "form-group">
          <ng-select [items]="roomTypes" bindLabel = "name" [(ngModel)]="selectedRoomType" [ngModelOptions]="{standalone: true}" placeholder= "Room type">

          </ng-select>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Price" formControlName="roomPrice">
        </div>
        <div class="form-group">
          <mat-radio-group formControlName="status">
            <mat-radio-button value="available">Available</mat-radio-button>
            <mat-radio-button value="unavailabe">Unavailable</mat-radio-button>
            <mat-radio-button value="booked">Booked</mat-radio-button>
          </mat-radio-group>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Add room</button>
        <button type="button" (click)="closeModal()" class="btn btn-danger pull-right mr-2">Cancel</button>
    </form>
      </div>
</div>
</ng-template>

<ng-template #bookModal let-c = "close" let-d="dismiss">
  <div class="card">
    <div class="card-header">
      Booking
    </div>
    <div class="card-body">
      <form [formGroup] = "bookForm" (ngSubmit) ="bookRoom()">
        <div class="form-group">
            <input type="text" placeholder="First name" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
              <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
              <input type="number" placeholder="Phone" class="form-control" formControlName="phone">
        </div>
        <div class="form-group">
              <input type="email" placeholder="Email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <ng-select [items]="roomTypes" bindLabel="selectedRoomType" [(ngModel)]="selectedRoomType" [ngModelOptions] = "{standalone: true}">

            </ng-select>
      </div>
      <div class="form-group row">
          <input type="datetime" placeholder="Check in time" class="form-control col-6" formControlName = "checkInTime">
          <input type="datetime" placeholder="Check out time" class="form-control col-6" formControlName="checkOutTime">
    </div>
    <div class="form-group">
      <ng-select [items]="emptyRooms" bindLabel="" [(ngModel)]="bookedRoomNo" placeholder="Assign room" [ngModelOptions] = "{standalone: true}"></ng-select>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Book</button>
        <button type="button" (click)="closeModal()" class="btn btn-danger pull-right">Cancel</button>
      </form>
    </div>
  </div>
</ng-template>




