<div class="container-fluid">
  <h4 class="font-weight-bold">
    Rooms
    <button type="button" class="pull-right btn btn-primary mr-2" (click)="open(newRoomModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; New room</button>
    <button type="button" class="pull-right btn btn-primary mr-2" (click)="open(bookModal, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Book</button>
  </h4>


  <div class="row border-0">
    <div class="col-3 card border-0 p-0">
      <div class="card-header text-dark p-0 border-0">
        <span>Room 34</span><span class="pull-right mr-1">Taken</span>
      </div>
      <div class="card-body text-center text-dark">
        <i class="fa fa-user-circle fa-3x"></i><span class="name">Akinnagbe Tosin</span>
      </div>
      <div class="footer p-1 text-dark">
        <i class="fa fa-2x fa-calendar"></i>2 days<i class="ml-2 fa-2x fa fa-check-circle"></i>
      </div>
    </div>
    

  </div>
<ng-template #newRoomModal let-c = "close" let-d="dismiss">
  <form [formGroup] = "room" (ngSubmit)="saveRoom()">
    <div class="card">
      <div class="card-header">
        New room
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Room no" formControlName="roomNo">
        </div>
        <div class= "form-group">
          <ng-select [items]="roomTypes" bindLabel = "name" [(ngModel)]="selectedRoomType" [ngModelOptions]="{standalone: true}">

          </ng-select>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" placeholder="Price" formControlName="roomPrice">
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #bookModal let-c = "close" let-d="dismiss">
  <div class="card">
    <div class="card-header">
      Booking
    </div>
    <div class="card-body">
      <form [formGroup] = "bookForm" (ngSubmit) ="bookRoom()">
        <div class="form-group">
            <input type="text" placeholder="First name" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
              <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
              <input type="number" placeholder="Phone" class="form-control" formControlName="phone">
        </div>
        <div class="form-group">
              <input type="email" placeholder="Email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <ng-select [items]="roomTypes" bindLabel="selectedRoomType" [(ngModel)]="selectedRoomType" [ngModelOptions] = "{standalone: true}">

            </ng-select>
      </div>
      <div class="form-group row">
          <input type="datetime" placeholder="Check in time" class="form-control col-6" formControlName = "checkInTime">
          <input type="datetime" placeholder="Check out time" class="form-control col-6" formControlName="checkOutTime">
    </div>
    <div class="form-group">
      <ng-select [items]="emptyRooms" bindLabel="" [(ngModel)]="bookRoomNo" placeholder="Assign room"></ng-select>
    </div>
        <button type="submit" class="btn btn-primary">Book</button>
      </form>
    </div>
  </div>
</ng-template>




