<h4 class="font-weight-bold">
  Guests
  <button type="button" class="pull-right btn btn-primary" (click)="openModal(newGuest, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Add guest</button>
</h4>

<div class="container">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <table mat-table [dataSource]="guestTableData" class="mat-elevation-z8">
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let guest"> {{guest.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let guest"> {{guest.phone}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let guest"> {{guest.email}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="checkInTime">
          <th mat-header-cell *matHeaderCellDef> Date checked In </th>
          <td mat-cell *matCellDef="let guest"> {{guest.checkInTime}} </td>
        </ng-container>

        <ng-container matColumnDef="checkOutTime">
            <th mat-header-cell *matHeaderCellDef> Date checked out </th>
            <td mat-cell *matCellDef="let guest"> {{guest.checkOutTime}} </td>
          </ng-container>
        
        <ng-container matColumnDef="roomNo">
            <th mat-header-cell *matHeaderCellDef> Room No. </th>
            <td mat-cell *matCellDef="let guest"> {{guest.roomNo}} </td>
        </ng-container>
        <ng-container matColumnDef="paid">
              <th mat-header-cell *matHeaderCellDef> Bill </th>
              <td mat-cell *matCellDef="let guest"> {{guest.paid}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedCols"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedCols;"></tr>
      </table>
</div>

<!-- Modals below  -->
<!-- New guest form -->

<ng-template #newGuest>
  <form [formGroup] = "guestForm">
    <div class="card">
      <div class="card-header">
        New guest
      </div>
      <div class="card-body">
        <div class="row">
            <div class="form-group col-6">
                <input type="text" placeholder="name" formControlName="name">
              </div>
              <div class="form-group col-6">
                <input type="number" placeholder="Phone" formControlName="phone">
              </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <input type="text" placeholder="Email" formControlName="email">
              </div>
              <div class="form-group col-6">
                <ng-select [items]="paymentTypes" bindLabel="name" [(ngModel)]="selectedPaymentType">

                </ng-select>
              </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <ng-select [items]="emptyRooms" bindLabel="name" [(ngModel)]="selectedRoom">

                </ng-select>
            </div>
              <div class="form-group col-6">
                <input type="datetime" placeholder="Checkin time" formControlName="checkInTime">
              </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <input type="datetime" placeholder="Checkout time" formControlName="checkOutTime">
            </div>
            <div class="col-6">
                <mat-checkbox formControlName="paid" >Paid</mat-checkbox>
            </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>