<h4 class="font-weight-bold">
  Guests
  <button type="button" class="pull-right btn btn-primary" (click)="openModal(newGuest, { windowClass: 'modal-lg animate' })"><span class="ion ion-md-add"></span>&nbsp; Add guest</button>
</h4>

<div class="container-fluid table-responsive">
  <h3>Checked in guest</h3>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Guest</th>
        <th>Room No.</th>
        <th>Room type</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Amount</th>
        <th>Payment type</th>
        <th>Check in time</th>
        <th>Check out time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td>{{guest.name}}</td><td>{{guest.roomNo}}</td><td>{{guest.roomType}}</td><td>{{guest.phone}}</td><td>{{guest.email}}</td><td>{{guest.amount}}</td><td>{{guest.paymentType}}</td><td>{{guest.checkInTime}}</td><td>{{guest.checkOutTime}}</td>
        <td><button type="button" class="btn-danger btn">Checkout</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container-fluid table-responsive">
  <h3>Booked guests</h3>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th>Guest</th>
        <th>Room No.</th>
        <th>Room type</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Amount</th>
        <th>Payment type</th>
        <th>Check in time</th>
        <th>Check out time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guest of guests">
        <td>{{guest.name}}</td><td>{{guest.roomNo}}</td><td>{{guest.roomType}}</td><td>{{guest.phone}}</td><td>{{guest.email}}</td><td>{{guest.amount}}</td><td>{{guest.paymentType}}</td><td>{{guest.checkInTime}}</td><td>{{guest.checkOutTime}}</td><td><button type="button" class="btn btn-danger">Cancel booking</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modals below  -->
<!-- New guest form -->

<ng-template #newGuest>
  <form [formGroup] = "guestForm" (ngSubmit)="saveGuest()">
    <div class="card">
      <div class="card-header">
        New guest
      </div>
      <div class="card-body">
        <div class="row">
            <div class="form-group col-6">
                <input type="text" placeholder="name" class="form-control" formControlName="name" >
              </div>
              <div class="form-group col-6">
                <input type="number" placeholder="Phone" class="form-control" formControlName="phone">
              </div>
        </div>
        <div class="row">
            <div class=" col-6">
                <input type="text" placeholder="Email" class="form-control" formControlName="email">
              </div>
              <div class="form-group col-6">
                  <mat-form-field>
                      <mat-label>Payment type</mat-label>
                      <mat-select formControlName = "paymentType">
                        <mat-option *ngFor="let payment of paymentTypes" [value]="payment.name" >
                          {{payment.name}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
              </div>
        </div>
        <div class="row">
            <div class=" col-6">
              <mat-form-field>
                  <mat-label>Available rooms</mat-label>
                  <mat-select formControlName = "roomID" >
                    <mat-option *ngFor="let room of emptyRooms" [value]="room.id" >
                      {{room.roomNo}}/{{room.roomType}}/{{room.roomPrice}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
              <div class="form-group col-6">
                <input type="date" placeholder="Checkin time" class="form-control" formControlName="checkInTime">
              </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <input type="date" placeholder="Checkout time" class="form-control" formControlName="checkOutTime">
            </div>
            <div class="col-6">
                <mat-select formControlName = "status">
                  <mat-option [value]="checkedin">Check in</mat-option>
                  <mat-option [value]="booked">Book</mat-option>
                </mat-select>
            </div>
        </div>
        <button class="btn btn-primary pull-right" type="submit">Save guest</button>
      </div>
    </div>
  </form>
</ng-template>