.restaurant{
    background-color: #1b2b42;
}
.reception{
    background-color: #f39c11;
}
.bar{
    background-color: #929090;
}
.empty-room{
    background-color: #33a31c;;
}
.check-ins{
    background-color: #448bb4;;
}
.bookings{
    background-color: #4488b4;
}
.card{
    color: white;
    font-size: 24px;
}
