<div class="container">
  <div class="row mb-3">
    <div class="col-lg-3 col-md-5 col-sm-6 card p-2 restaurant">
        <div class="row">
          <div class="col-6 text-center number">
            <span>&#8358;</span>{{formatPrice(cardData.restaurantSales)}}
          </div>
          <div class="col-6 text-big text-right">
            <i class="fa fa-cutlery fa-3x opacity-50"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center ">Restaurant</div>
        </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 card p-2 offset-lg-1 offset-md-0 reception">
      <div class="row">
        <div class="col-6 text-center number">
          <span>&#8358;</span>{{formatPrice(cardData.recepSales)}}
        </div>
        <div class="col-6 text-big text-right">
          <i class="fa fa-hotel fa-3x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center ">Reception</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 card p-2 offset-lg-1 offset-md-0 bar">
      <div class="row">
        <div class="col-6 text-center number">
          <span>&#8358;</span>{{formatPrice(cardData.barSales)}}
        </div>
        <div class="col-6 text-big text-right bar">
          <i class="fas fa-wine-glass fa-3x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center ">Bar</div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-3 col-md-5 col-sm-6 card p-2 empty-room">
      <div class="row">
        <div class="col-6 text-center number">
          {{cardData.availableRooms}}
        </div>
        <div class="col-6 text-big text-right">
          <i class="fa fa-bed fa-3x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center ">Available rooms</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 offset-lg-1 offset-md-0 card p-2 check-ins">
      <div class="row">
        <div class="col-6 text-center number">
          {{cardData.checkIns}}
        </div>
        <div class="col-6 text-big text-right">
          <i class="fa fa-warehouse fa-3x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center "> Check ins</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-5 col-sm-6 offset-lg-1 offset-md-0 card p-2 bookings">
      <div class="row">
        <div class="col-6 text-center number">
          {{cardData.bookings}}
        </div>
        <div class="col-6 text-big text-right">
          <i class="fa fa-address-book fa-3x"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center ">Bookings</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 text-big text-right">
      
    </div>
    <div class="col-6 text-big text-right">
      
    </div>
  </div>
</div>